In [34]:
# Importamos librerías 
import numpy as np
from functools import reduce
import time
import matplotlib.pyplot as plt
import scipy.stats as st     # Librería estadística
import pandas as pd
from scipy import optimize

In [35]:
suicidios = pd.read_excel('Suicidios_Estados.xlsx', sheet_name='Tabulado', header=None).dropna()
suicidios = suicidios.drop(columns=[2,3,4,6,7,8,10,11,12])
suicidios.columns=['Estados','2017','2018','2019']
suicidios.head()

               Estados  2017  2018  2019
5                Total  6559  6808  7223
6       Aguascalientes   140   140   157
7      Baja California   166   194   169
8  Baja California Sur    47    57    59
9             Campeche    74    69    95

In [36]:
mort = pd.read_excel('Mortalidad.xlsx', sheet_name='Tabulado', header=None).dropna()
mort = mort.drop(columns=[2,3,4,6,7,8,10,11,12])
mort.columns=['Estados','2017','2018','2019']
mort.head()

               Estados    2017    2018    2019
5                Total  703047  722611  747784
6       Aguascalientes    6158    6226    6768
7      Baja California   19073   20501   20924
8  Baja California Sur    3826    3447    3556
9             Campeche    4631    4835    5121

In [37]:
s_causa = pd.read_excel('Suicidios_causas.xlsx', sheet_name='Tabulado', header=None).dropna()
s_causa = s_causa.drop(columns=[2,3,4,6,7,9,10,12,13,15,16,18,19,21,22,24,25,27,28])
# s_causa.columns=['Estados','2017','2018','2019']
# s_causa.head()
s_causa

,0,1,5,8,11,14,17,20,23,26
5,Total,Total,5718,5549,5909,6337,6425,6370,6559,6808
10,Aguascalientes,Total,98,116,113,110,124,125,140,140
15,Baja California,Total,149,113,123,181,150,170,166,194
20,Baja California Sur,Total,30,44,50,59,57,55,47,57
25,Campeche,Total,81,63,77,92,86,87,74,69
30,Coahuila de Zaragoza,Total,169,150,174,174,181,171,201,216
35,Colima,Total,48,46,52,42,54,66,46,51
40,Chiapas,Total,230,189,315,321,316,272,262,147
45,Chihuahua,Total,289,266,310,326,421,438,405,365
50,Ciudad de México,Total,413,426,425,434,369,377,302,227
55,Durango,Total,86,76,90,104,116,114,124,122
60,Guanajuato,Total,358,338,351,422,466,459,494,504
65,Guerrero,Total,90,90,104,81,73,83,73,63
70,Hidalgo,Total,113,102,112,126,117,113,116,109
75,Jalisco,Total,453,507,481,506,527,597,658,630
80,México,Total,600,598,620,670,667,579,570,584
85,Michoacán de Ocampo,Total,150,147,142,192,169,182,206,245
90,Morelos,Total,61,62,65,54,44,87,71,88
95,Nayarit,Total,46,50,54,81,75,79,72,66
100,Nuevo León,Total,218,229,245,220,253,292,270,317
105,Oaxaca,Total,142,124,121,132,156,114,129,140
110,Puebla,Total,256,216,240,277,268,226,302,319
115,Querétaro,Total,98,115,112,80,110,102,137,138
120,Quintana Roo,Total,121,144,137,118,140,125,135,125
125,San Luis Potosí,Total,159,158,157,173,164,179,199,204
130,Sinaloa,Total,111,99,123,143,142,165,168,135
135,Sonora,Total,178,184,237,236,249,218,264,267
140,Tabasco,Total,188,172,168,164,170,155,108,142
145,Tamaulipas,Total,149,168,157,176,149,159,158,164
150,Tlaxcala,Total,51,44,40,53,52,52,55,55
155,Veracruz de Ignacio de la Llave,Total,309,289,265,319,252,207,217,253
160,Yucatán,Total,186,160,167,181,190,224,191,235
165,Zacatecas,Total,82,53,62,70,103,76,109,99
170,Extranjero,Total,6,11,20,20,15,22,13,10
175,Entidad no especificada,Total,0,0,0,0,0,0,77,328